.App {
  text-align: center;
}

.footer {
  position: absolute;
  /* bottom: 0; */
  width: 100%;
}

.category-items {
  display: flex;
  flex-wrap: wrap;
}

.item-image {
  width: 300px;
  height: 300px;
}

#add-new-item-btn {
  display: block;

}
#items-wish-list-container {
  display: flex;
}

/* custom styles for form elements */
.creatable-select > div {
  padding-top: 12px;
  padding-bottom: 12px;
}

.creatable-select > div > div > div {
  color: black;
}
