.App {
  text-align: center;
}

.footer {
  position: absolute;
  /* bottom: 0; */
  width: 100%;
}

.category-items {
  display: flex;
  flex-wrap: wrap;
}

.item-image {
  width: 300px;
  height: 300px;
}

.uploaded-image {
  width: 100px;
}

#add-new-item-btn {
  display: block;

}
#items-wish-list-container {
  display: flex;
}

.uploaded-image-box {
  position: relative;
  margin-left: 35%;
  margin-right: 37%;
}

.uploaded-image-delete-btn {
  position: absolute;
  top: -7px;
  right: 0px;
  border-width: 0px;
  background-color: Transparent;
}

/* custom styles for form elements */
.creatable-select > div {
  padding-top: 12px;
  padding-bottom: 12px;
}

.creatable-select > div > div > div {
  color: black;
}
