.App {
  text-align: center;
}

/* home page */
.home-image {
  position: relative;
  width: 50%;
  margin: auto;
}

.home-image .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.home-image .btn:hover {
  background-color: black;
  color: lightgrey;
}

.backgroundImg7 {
  width: 400px;
  height: 250px;
}

.backgroundImg2 {
  width: 370px;
  height: 450px;
}

.backgroundImg3 {
  width: 400px;
  height: 250px;
}

.backgroundImg4 {
  width: 370px;
  height: 450px;
}

.category-items {
  display: flex;
  flex-wrap: wrap;
}

.item-image {
  max-height: 300px;
}

#edit-item-btn {
  background-color: white;
  border-width: 0px;
}

#add-new-item-btn {
  display: block;
}

.category-name {
  margin-top: 50px;
}

.item > p {
  margin-bottom: 0px;
}

#items-wish-list-container {
  display: flex;
}



/* header */
.navbar {
  margin-bottom: 30px;
}

#username-text {
  color: white
}

/* sidebar */
.uploaded-image {
  width: 100px;
}

.uploaded-image-box {
  position: relative;
  margin-left: 35%;
  margin-right: 37%;
}

.uploaded-image-delete-btn {
  position: absolute;
  top: -7px;
  right: 0px;
  border-width: 0px;
  background-color: Transparent;
}

.delete-item-btn {
  margin-left: 30px;
}


/* outfit page */
.outfit-box {
  width: 600px;
  height: 600px;
  border: 1px solid black;
  margin: auto;
}

.item-image-in-outfit {
  width: 100px;
  border: none;
}

.image-in-box {
  min-width: 100%;
  min-height: 100%;
  pointer-events: none;
}

.outfit-name-btn {
  color: black !important;
}

#add-new-outfit-btn {
  margin: 20px auto 20px auto;
}

#delete-outfit-btn {
  margin-left: 50px;
}

.new-outfit-input {
  margin: 10px auto 10px auto;
  max-width: 500px;
}

.categories-with-items-container {
  margin-top: 30px;
}

.outfit-item-select-btn, .btn-check {
  background-color: yellow;
  border: none !important;
}



/* custom styles for form elements */
.creatable-select > div {
  padding-top: 12px;
  padding-bottom: 12px;
}

.creatable-select > div > div > div {
  color: black;
}


/* footer */
.footer {
  position: absolute;
  margin-top: 100px;
  /* bottom: 0; */
  width: 100%;
}
